.slider-content [data-slider-nav-key] {
  display: none;
}
.slider-content .slider {
  float: none;
}
.slider-content .active-slide {
  display: block;
}
.slider-content .button-container {
  text-align: center;
}
.slider-progress-bar {
  position: relative;
  width: 0;
  clear: both;
  background: #9fb94a;
  height: 5px;
}
